@import '../../assets/scss/variables.scss';

.btn {
  font-weight: 600;
  text-align: center;
  color: #fff;
  background: $primary-green;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;

  padding: 16px;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {
    background: $secondary-green;
  }
}
