@import './assets/scss/normalize.scss';
@import './assets/scss/variables.scss';

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  color: $primary-black;
}

.container {
  max-width: 580px;
  padding: 0 25px;
  margin: 0 auto;
}

.main {
  padding: 25px 0;
}

.title {
  font-size: 24px;
  font-weight: 900;
}
