@import './assets/scss/normalize.scss';
@import './assets/scss/variables.scss';

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: $primary-black;
}

.container {
  max-width: 580px;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  // overflow: auto;

  padding: 0 25px;
  margin: 0 auto;
}

.main {
  background: url('../assets/img/wave.png') no-repeat top;

  padding: 25px 0;
}

.title {
  font-size: 24px;
  font-weight: 900;
}
