@import '../../assets/scss/variables.scss';

.search {
  &__title {
    margin-bottom: 24px;
  }
  &__field {
    border: 1px solid $primary-gray;
    border-radius: 8px;

    padding: 20px 24px;

    &:focus {
      border: 2px solid $primary-green;
    }
    &:invalid {
      border: 2px solid $primary-red;
    }
  }
}
